html {
    scroll-behavior: smooth;
    /* border: 1rem solid #dfd3c3; */
    background-color: black;

}

.nav-bar {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 2rem;
    margin-left: 1rem;
    width: 90%;
    font-size: 1.2rem;
}

.nav-bar ul {
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    list-style: none;
    margin: 1rem;
}

.nav-bar button {
    padding: 1rem;
    /* background-color: #530f1e; */
    border-radius: 20px;
    border-color: #ffffff;
    border-width: 0.5cap;
}

.a button {
    background-color: #f39852;
}

.b button {
    background-color: #e6d66e;
}

.c button {
    background-color: #53e758;
}

.d button {
    background-color: #cfa3e5;
}

.nav-bar li a {
    text-decoration: none;
    color: black;
}

.nav-bar li button {
    color: black;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    cursor: pointer;
}

.nav-bar li:hover {
    font-size: 1.2rem;
    padding: 0.4rem;
    transition-duration: 300ms;
    cursor: pointer;
}

.alpha-slab {
    color: white;
    font-family: 'Lobster Two';
    font-size: 5.5rem;
    text-align: center;
}

.hero {
    margin-left: 100px;
    margin-right: 100px;
    background-color: black;
    margin-bottom:100px;
    margin-top:-300px;
}

.half-width {
    position: relative;
    width: 50%;
}

.about {
    display: flex;
    padding: 0.5rem;
}

.about div {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.about .about-text {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    color: white;
}

.dropdown-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}

.resources-dropdown {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f6a262;
    font-size: 1.5rem;
    padding: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;
    border-radius: 1rem;
}

.resources-dropdown:hover {
    cursor: pointer;

}

.resources-dropdown svg {
    margin-right: 50px;

}

.information-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: white
}

.resource-info {
    display: none;
    margin: 2rem;
    /* max-width: 600px; */
    /* padding: 20px; */
    /* margin: 10px; */
}

.resource-content {
    display: flex;
    justify-content: center;
}

.video-box {
    display: grid;
    padding: 2rem;
    /* justify-content: center; */
    /* align-items: center; */
}

.video-box p {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
}

.helpline-table {
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
}

table, th, td {
    padding: 0.5rem 5rem 0.5rem 5rem;
    border: 1px solid;
    border-collapse: collapse;
}

.back-btn button{
    cursor:pointer;
    position: absolute;
    border-radius: 1rem;
    padding: 0.5rem;
    /* margin-top: 50px; */
    margin-left: 50px;
    background-color: #f6a262;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*Tejaswi is writing code here*/
#wall{
    background-color:black;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
.contact-container{
    height:100vh;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}
.contact-left{
    display:flex;
    flex-direction:column;
    align-items:start;
    gap: 20px;
}
.contact-left-title h2{
    font-weight: 600;
    font-size:40px;
    color:beige;
    margin-bottom: 5px;
    margin-top: -45px;
}
.contact-left-title hr{
    border:none;
    width: 120px;
    height:5px;
    background-color:beige;
    border-radius:10px;
    margin-bottom:20px;
}
.contact-inputs{
    width:400px;
    height:50px;
    border:none;
    outline:none;
    padding-left:25px;
    font-weight:500;
    color:rgb(0, 0, 0);
    border-radius:50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.contact-left textarea{
    height:140px;
    padding-top:15px;
    border-radius:25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.contact-inputs:focus{
    border: 3px solid rgb(176, 17, 44);
}
.contact-inputs::placeholder{
    color:grey;
}
.contact-left button{
    display:flex;
    align-items:center;
    padding:15px 30px;
    font-size:16px;
    color:whitesmoke;
    border:none;
    gap:10px;
    border-radius:50px;
    background: linear-gradient(270deg,rgb(188, 89, 106),rgb(136, 64, 64))
}

/*top heading ki animation*/
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

.content {
  background-color:black;
  position: relative;
  margin:0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.content h2 {
  color: #fff;
  font-size: 8em;
  position: absolute;
  transform: translate(-50%, -50%);
  font-family: 'Lobster Two';
}

.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #fdffff;
}

.content h2:nth-child(2) {
  color: #f9fcfe;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}