div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}
div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #777;
}

h1.banner {
    background-color: rgb(195, 174, 189);
    text-align: center;
    text-decoration: solid;
    padding: 30px 0;
    text-wrap: pretty;
    font-family: 'Josefin Sans', sans-serif;
}

h1{
    color: #070606;
    text-align: center;
}

body{
    background-color: pink;
}
